@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background-color: #1B1A1A;
    width: 100%;
    background-image: url(../src/img/blur1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
}

#logwrap {
    display: block;
    width: 430px;
    height: 90vh;
    margin: 0 auto;
    padding-top: 10px;
}

.slogan {
width: 200px;
display: block;
}


.reading {
    color: white;
    font-family: "Uchen", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 54px;
    line-height: 50px;
}

.illus img {
    display: block;
    width: 300px;
    margin-left: 130px;
    height: 300px;
}

.boutons {
    width: 400px;
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}

.red-btn {
    text-decoration: none;
    background-color: #CE2020;
    border-radius: 50px;
    width: 300px;
    height: 60px;
    display: block;
    color: white;
    border: none;
    margin: 0 auto;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.white-btn {
    text-decoration: none;
    background-color: white;
    border-radius: 50px;
    width: 300px;
    height: 60px;
    display: block;
    color: #CE2020;
    border: none;
    margin: 0 auto;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    
}

.white-btn-form {
    text-decoration: none;
    background-color: white;
    border-radius: 50px;
    width: 300px;
    height: 60px;
    display: block;
    color: #CE2020;
    border: none;
    margin: 0 auto;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

hr {
    border: none;
    border-top: 2px solid white;
    color: white;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 25px;
}

.signup {
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
}


.boutons ::placeholder {
    color: grey;
    font-size: 20px;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 100;
}

input ::placeholder{
    margin-left: 100px;
}

.validate {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color:#CE2020 ;
    padding: 20px;
    margin: 0 auto;
}



#feedwrap {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: #1B1A1A;
}

nav {
    width: 100%;
    height: 140px;
    background-color: #1B1A1A;
    display: block;
    padding: 0 0;
    position: fixed;
    top: 0;
    z-index: 100;
    -webkit-box-shadow: -1px 6px 30px 5px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 6px 30px 5px rgba(0,0,0,0.75);
box-shadow: -1px 6px 30px 5px rgba(0,0,0,0.75);
    
    
}

nav #logo {
    width: 100px;
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}

nav #menu {
    position: absolute;
    top: 60px;
    right: 55px;
}

nav #menuback {
    position: absolute;
    top: 60px;
    left: 35px;
}

nav #menu img {
    margin-left: 30px;
    height: 20px;
}

nav #menuback img {
    
    height: 20px;
}


#search{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8); 
    backdrop-filter: blur(3px);
    z-index: 200;
    padding-top: 400px;
    
}


#search input {
    color: grey;
    font-weight: 300;
}

#close-search {
    width: 60px;
height: 60px;
    display: block;

    margin: 0 auto;
    position: absolute;
    top: 40px;
    right: 70px;
}





#start {
    width: 100%;
    height: 180px;
    display: block;
}



section h2 {
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: bold;
    font-size: 26px;
    text-align: left;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    position: sticky;

}

section h2::before{
    content: " . ";
    background-color: #CE2020;
    color: #CE2020;
    margin-right: 10px;

    
}


.storybooks {
    display: flex;
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;

}

/* Cacher la barre de défilement pour Chrome, Safari et Opera */
.storybooks::-webkit-scrollbar {
    display: none;
    }

/* Cacher la barre de défilement pour IE et Edge */
.storybooks {
    -ms-overflow-style: none;
}
    
/* Cacher la barre de défilement pour Firefox */
.storybooks {
    scrollbar-width: none;
    
}


.book {
    width: 190px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0 0 5px black;
    

}

.book img {
    border-radius: 12px;
    height: 260px;
    width: 190px;
    object-fit: cover;
}


section{
    margin-bottom: 50px;
}

.cards {
    
    margin: 0 auto;
   padding-left: 20px;
   padding-right:20px;
    display: grid; 
grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
grid-gap: 20px;
   
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 height: auto;
    border-radius: 12px;
    margin: 0 auto;
    width: 100%;

    
}

.card img {
    height: 170px;
    width: 100%;
    margin-bottom: -20px;
    object-fit: cover;
    border-top-left-radius: 12px;
border-top-right-radius: 12px;
}

.container {
    padding: 3px 16px;
    position: relative;
    margin-bottom: 30px;
    background-color: #242424;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.mark {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 40px;

}

.dots {
    width: 7px;
    height: 7px;
    position: absolute;
    top: 0;
    right: 20px;

}

.mark img {
    object-fit: contain;
}

.dots img {
    object-fit: contain;
}


h3 {
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

h3 a {
    color: white;
}

.auteur {
    color: #F23D3D;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.time {
    color: grey;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.card p {
    line-height: 4px;
}

#cover {
    width: 280px;
    height: 440px;
    display: block;
    margin: 0 auto;
    margin-top: -20px;
    overflow: hidden;
    border-radius: 12px;
    -webkit-box-shadow: 0px 5px 28px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 28px 13px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 28px 13px rgba(0,0,0,0.75);
    
}

#cover img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
     border-radius: 12px;
    
   
}

.coverblur img {
    position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top :0;
overflow: hidden;
text-align: center;
height: 100vh!important;

    filter: blur(40px);
    opacity: .5;
    z-index: -10;
}

.title {
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    margin-bottom: -10px;
}

hr {
    background-color: white;
    height: 2px;
    width: 300px;
    margin: 0 auto;

}

.author {
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    margin-bottom: -10px;
}

.year {
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 14px;
}

.cta-bar {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
}

.cta {
    width: 310px;
    display: flex;
    margin: 0 auto;

    
}

.cta button {
    border: none;

}

.red-cta {
    background-color: #CE2020;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 12px 11px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 12px 11px rgba(0,0,0,0);
    box-shadow: 0px 0px 12px 11px rgba(0,0,0,0);
    transition: all .5s;
    
}

.red-cta:hover {
    background-color: #F23D3D;
  
    -webkit-box-shadow: 0px 0px 12px 11px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 0px 12px 11px rgba(0,0,0,0.7);
box-shadow: 0px 0px 12px 11px rgba(0,0,0,0.7);
}

.red-cta img {
    width: 40%;
    object-fit: contain;

}

.round {
    width: 70px;
    height: 70px;
}

.reserver {
    width: 150px;
    height: 70px;
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 18px;

}

.bookdetailswrap {
    display: block;
    width: 100%;
    margin: 0 auto;
}

#resume {
    display: none;
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
    
   overflow: hidden;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
   margin-top: -20px;
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    display: none;
    backdrop-filter: blur(3px);
    
  
    
}

.resume  {
display: block;
font-size: 16px;
margin: 50px;
overflow: hidden;
width: 280px;
margin: 70px auto;
}

#resume img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
width: 20px;
height: 20px;

}

#close {
    width: 40px;
height: 40px;
    display: block;
    border-radius: 200px;
    border:1px solid white;
    margin: 0 auto;
    margin-top: 120px;
}







.audiocoverblur img {
    position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top :0;
overflow: hidden;
text-align: center;
height: 100vh!important;
width: 100vw;

    filter: blur(40px);
    opacity: .5;
    z-index: -10;
}

#audiobtn {
    position: fixed;
    bottom: 0px;
    right: 0;
    left: 0;
    padding-bottom: 20px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

#audiodetail {
    
    overflow-x: hidden;
}

#banneraudio {
    display: block;
    width: 100%;
    height: 300px;
    overflow: hidden;
   
  
}


#banneraudio img {
  width: 100%;
 
}

#audiocontent {

    margin-top: -40px;
}



#audiocontent h5 {
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 600;
    font-size: 30px;
    display: block;

    padding-left: 20px;
    padding-right: 20px;}

#blockshadow {
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 80px;
    position: relative;
    margin-top: -40px;
}

.curateur {
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.date {
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    display: block;
    margin-top: -10px;
    padding-left: 20px;
    padding-right: 20px;
}

.bookmark {
    position: absolute;
    top: 20px;
    right: 30px;

}

.bookmark img {
    width: 20px;
}

.pititext{
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    display: block;
    margin-top: -10px;
    padding-left: 20px;
    padding-right: 20px;
}

.pititext .empty {
    display: block;
    height: 300px;
}

#player {
    display: none;
    width: 100%;
    height: 70px;
    background-color: #CE2020;
    margin-top: 20px;
}


#pp {
    display: block;
    width: 20px;
    height: 20px;
    z-index: 300;
}


#pp img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

#sound {
    display: block;
height: 3px;
background-color: white;
width: 240px;
    z-index: 300;
    border-radius: 12px;
    margin-top: 33px;
    margin-left: 65px;
}

#soundplay {
    width: 20px;
    height: 20x;
    margin-top: 23px;
    margin-left: 20px;
}

#soundplay img{
    width: 100%;
}

#stop {
    margin-left: 30px;
    margin-top: 20px;
}
