* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color:black;
    color:white;
}

header {
    background: black;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
    color: white;
}

main {
    padding: 1rem;
}

.chat-list {
    padding: 1rem;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 0.5px solid rgb(74, 74, 74);
    background: black;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.chat-item:hover {
    background: rgb(74, 74, 74)
}

.chat-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.chat-item .chat-content h3 {
    margin: 0;
    font-size: 1rem;
    color: #007bff;
}

.chat-item .chat-content p {
    margin: 0.5rem 0 0;
    color: #666;
}

footer {
    background: black;
    padding: 1rem;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s;
}

footer ul li a:hover {
    background: rgb(74, 74, 74);
    color: #fff;
}

/* Desktop Styles */
@media (min-width: 600px) {
    header {
        padding: 1rem 2rem;
    }

    main {
        padding: 2rem;
    }

    .chat-list {
        max-width: 800px;
        margin: 2rem auto;
    }

    .chat-item {
        padding: 1.5rem;
    }

    .chat-item img {
        width: 60px;
        height: 60px;
    }

    .chat-item h3 {
        font-size: 1.25rem;
    }

    footer {
        padding: 1rem 2rem;
    }
}
